<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Feed2Email - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap")
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/themes/adminia-admin-1.1/css/adminia-1.1.css" rel="stylesheet" />
        <link href="~/Content/themes/adminia-admin-1.1/css/adminia-1.1-responsive.css" rel="stylesheet" />
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("styles", false)
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 
                        <span class="icon-bar"></span> 				
                    </a>
            
                    <a class="brand">Feed2Email</a>

                    @*            
                    <div class="nav-collapse">
            
                        <ul class="nav pull-right">
                    
                            <li class="">
                        
                                <a href="javascript:;"><i class="icon-chevron-left"></i> Back to Homepage</a>
                            </li>
                        </ul>
                
                    </div> <!-- /nav-collapse -->*@
                </div>
            </div>
        </div>

        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/adminia-admin-1.1/Application.js"> </script>
        @RenderSection("scripts", false)
    </body>
</html>